<div class="modal-wrapper">
  <div class="modal-header">
    <div class="header-titles">
      <h2>{{ isEditMode() ? 'Editar Proyecto' : 'Nuevo Proyecto' }}</h2>
    </div>
    <button mat-icon-button (click)="onCancel()" class="close-btn" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="modal-content">
      <div class="form-grid">
        
        <mat-form-field appearance="outline" class="full-width minimal-input">
          <mat-label>Nombre del proyecto</mat-label>
          <input matInput formControlName="name" placeholder="Ej. Sistema de Inventario">
          @if (projectForm.controls.name.errors?.['required'] && projectForm.controls.name.touched) {
            <mat-error>El nombre es obligatorio.</mat-error>
          }
          @if (projectForm.controls.name.errors?.['minlength'] && projectForm.controls.name.touched) {
            <mat-error>Mínimo 3 caracteres.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width minimal-input">
          <mat-label>Prioridad</mat-label>
          <mat-select formControlName="priority">
            <mat-option [value]="1">Prioridad 1 (Crítica)</mat-option>
            <mat-option [value]="2">Prioridad 2 (Alta)</mat-option>
            <mat-option [value]="3">Prioridad 3 (Media)</mat-option>
            <mat-option [value]="4">Prioridad 4 (Baja)</mat-option>
            <mat-option [value]="5">Prioridad 5 (Menor)</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width minimal-input">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="description" rows="3" placeholder="Describe brevemente el objetivo..."></textarea>
          @if (projectForm.controls.description.errors?.['required'] && projectForm.controls.description.touched) {
            <mat-error>La descripción es obligatoria.</mat-error>
          }
        </mat-form-field>

      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-actions">
      <button mat-button type="button" (click)="onCancel()" [disabled]="isLoading()" class="minimal-btn">
        Cancelar
      </button>
      <button mat-flat-button type="submit" [disabled]="projectForm.invalid || isLoading()" class="minimal-primary-btn">
        @if (isLoading()) {
          {{ isEditMode() ? 'Guardando...' : 'Creando...' }}
        } @else {
          {{ isEditMode() ? 'Guardar' : 'Crear' }}
        }
      </button>
    </mat-dialog-actions>
  </form>
</div>
