<div class="modal-wrapper">
  <div class="modal-header">
    <div class="header-titles">
      <h2>Invitar Colaborador</h2>
    </div>
    <button mat-icon-button (click)="onCancel()" class="close-btn" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="userInvitationForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="modal-content">
      <div class="form-grid">
        <mat-form-field appearance="outline" class="full-width minimal-input">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Ej. dev@empresa.com">
          @if (userInvitationForm.controls.email.errors?.['required'] && userInvitationForm.controls.email.touched) {
            <mat-error>El correo electrónico es obligatorio.</mat-error>
          }
          @if (userInvitationForm.controls.email.errors?.['email'] && userInvitationForm.controls.email.touched) {
            <mat-error>Formato inválido.</mat-error>
          }
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-actions">
      <button mat-button type="button" (click)="onCancel()" [disabled]="isLoading()" class="minimal-btn">
        Cancelar
      </button>
      <button mat-flat-button type="submit" [disabled]="userInvitationForm.invalid || isLoading()" class="minimal-primary-btn">
        @if (isLoading()) {
          Enviando...
        } @else {
          Invitar
        }
      </button>
    </mat-dialog-actions>
  </form>
</div>
