<div class="modal-wrapper">
  <div class="modal-header">
    <div class="header-titles">
      <h2>{{ isEditMode() ? 'Editar Historia' : 'Nueva Historia' }}</h2>
    </div>
    <button mat-icon-button (click)="onCancel()" class="close-btn" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="modal-content">
      <div class="form-grid">
        
        <mat-form-field appearance="outline" class="full-width minimal-input">
          <mat-label>Título</mat-label>
          <input matInput formControlName="name" placeholder="Ej: Como usuario quiero...">
          @if (form.get('name')?.hasError('required')) {
            <mat-error>El nombre es obligatorio.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width minimal-input">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="description" placeholder="Detalles o criterios de aceptación..." rows="4"></textarea>
        </mat-form-field>

      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-actions">
      <button mat-button type="button" [disabled]="isLoading()" (click)="onCancel()" class="minimal-btn">
        Cancelar
      </button>
      <button mat-flat-button type="submit" [disabled]="form.invalid || isLoading()" class="minimal-primary-btn">
        @if (isLoading()) {
          Guardando...
        } @else {
          {{ isEditMode() ? 'Guardar' : 'Crear' }}
        }
      </button>
    </mat-dialog-actions>
  </form>
</div>
